PySide6
PySide6-Fluent-Widgets
SQLAlchemy
cryptography
fastapi
uvicorn
httpx
pywin32; platform_system == "Windows"
python-multipart
openpyxl
python-dotenv
setuptools
keyring
iconipy==0.5.1

paddleocr==2.8.1
paddlepaddle==2.6.2

PyMuPDF
opencv-python
numpy
numpy
opencv-python
PyMuPDF
PySide6
python-dotenv
SQLAlchemy
openpyxl
