anyio==4.13.0
annotated-doc==0.0.4
annotated-types==0.7.0
astor==0.8.1
beautifulsoup4==4.14.3
certifi==2026.5.20
cffi==2.1.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
contourpy==1.3.3
cryptography==49.0.0
cycler==0.12.1
Cython==3.2.5
darkdetect==0.8.0
decorator==5.3.1
et_xmlfile==2.0.0
fire==0.7.1
fastapi==0.139.0
fonttools==4.63.0
greenlet==3.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.17
iconipy==0.5.1
ImageIO==2.37.3
imgaug==0.4.0
kiwisolver==1.5.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
keyring==25.7.0
lazy-loader==0.5
lmdb==2.2.0
lxml==6.1.1
matplotlib==3.10.9
networkx==3.6.1
more-itertools==11.1.0
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.2
paddleocr==2.8.1
paddlepaddle==2.6.2
pillow==12.2.0
protobuf==3.20.2
pydantic==2.13.4
pydantic_core==2.46.4
pyclipper==1.4.0
pycparser==3.0
PyMuPDF==1.27.2.3
pyparsing==3.3.2
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
PySide6-Fluent-Widgets==1.11.2
PySideSix-Frameless-Window==0.8.1
pywin32==311
pywin32-ctypes==0.2.3
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.32
PyYAML==6.0.3
RapidFuzz==3.14.5
requests==2.34.2
scikit-image==0.26.0
scipy==1.17.1
shapely==2.1.2
shiboken6==6.11.1
six==1.17.0
setuptools==80.9.0
soupsieve==2.8.4
SQLAlchemy==2.0.50
starlette==1.3.1
termcolor==3.3.0
tifffile==2026.3.3
tqdm==4.67.3
typing_extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.7.0
uvicorn==0.51.0
velopack==1.2.0
winotify==1.1.0

