PySide6
PySide6-Fluent-Widgets
SQLAlchemy
cryptography
fastapi
httpx
keyring
openpyxl
pywin32; platform_system == "Windows"
python-multipart
python-dotenv
setuptools
iconipy==0.5.1
uvicorn
winotify==1.1.0

paddleocr==2.8.1
paddlepaddle==2.6.2

PyMuPDF
opencv-python
numpy
